@charset "uft-8";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url("./normalize.css");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* 기본 스타일 */
html {
    font-size: 10px;
}
body {
    font-size: 1.4rem;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    color: #181818;
    background: #0D8584;
}
/* 링크 스타일 */
a {
  color: inherit;                                             text-decoration: none;
}
/* 제목 및 윈도우 창 버튼 */
.doku-head {
  background: #D5DEF3 linear-gradient(to right, rgba(33,41,89,1) 0%,rgba(33,41,89,1) 11%,rgba(80,114,161,1) 56%,rgba(117,172,219,0.7) 92%,rgba(125,185,232,0) 100%);
  margin: 10px auto 0 auto;
  padding: 0 10px 0 5px;
  width: 500px;
  height: 40px;
  color: #D5DEF3;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-bottom-color: #7B7B7B;
  border-left-color: #ffffff;
  /* font-size: 2rem; */
}
.doku-headline {
  display: inline-block;
  padding: 10px 0 0 10px;
  font-size: 2rem;
}
.exit {
  background-color: #C0C0C0;
  width: 30px;
  height: 30px;
  float: right;
  margin-left: 2px;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7B7B7B;
  border-bottom-color: #7B7B7B;
  border-left-color: #ffffff;
  color: black;
  text-align: center;
  padding-top: 7px;
}
.full-window {
  width: 15px;
  height: 15px;
  border-top: 3px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin-left: 7px;
}

/* 스도쿠 판 */
.doku-pad {
  background: #C0C0C0;
  width: 500px;
  height: 540px;
  margin: 0 auto;
  position: relative;
}
/* 지우개 및 타이머 */
.erase {
  display: none;
  background-color: #C0C0C0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7B7B7B;
  border-bottom-color: #7B7B7B;
  border-left-color: #ffffff;
  position: absolute;
  height: 40px;
  width: 80px;
  top: 6px;
  left: 13px;
}
.timer {
  background: black;
  position: absolute;
  height: 40px;
  width: 150px;
  top: 6px;
  right: 13px;
  color: #FFF;
  line-height: 40px;
  text-align: center;
}
.success {
  position: absolute;
  width: 500px;
  height: 100%;
  background: #C0C0C0;
  display: none;
}
.congratulations {
  text-align: center;
  height: 100%;
  font-size: 2rem;
  padding-top: 50%;
}
.success-time {
  display: block;
  margin-top: 10px;
}

.doku-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}
tr:nth-child(3n - 2) {
  margin-top: 5px;
}
.doku-row {
  display: flex;
  text-align: center;
  margin-left: 7px;
  /* justify-content: space-evenly; */
}

td {
  transition: all 0.2s ease;
  user-select: none;
  width: 52px;
  height: 52px;
  padding-top: 13px;
  background-color: #C0C0C0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7B7B7B;
  border-bottom-color: #7B7B7B;
  border-left-color: #ffffff;
  font-size: 2.5rem;
  color:rgb(0, 0, 250);
}
tr td:nth-child(3n - 2) {
  margin-left: 5px;
}
.doku-value {
  cursor: pointer;
  color: rgb(75, 128, 45);
}
.doku-select {
  background-color: #C0C0C0;
  font-size: 2.5rem;
  padding-top: 13px;
  border: none;
  /* color: red; */
}
.same-nums {
  color: black;
}

.wrong-value, .conflict {
  color: red;
}

.number-pad {
  width: 500px;
  margin: 3px auto;
  text-align: center;
  font-size: 2rem;
  height: 60px;
  padding-top: 7px;
}

.number-btn {
  width: 55.5px;
  background-color: #C0C0C0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7B7B7B;
  border-bottom-color: #7B7B7B;
  border-left-color: #ffffff;
  color: rgb(75, 128, 45);
  padding: 10px;
  float: left;
}
.number-btn:hover {
  border-top: 1.5px solid #808080;
  border-left: 1.5px solid #808080;
  border-right: 1.5px solid #FAFAFA;
  border-bottom: 1.5px solid #FAFAFA;
}
.relation-cell {
  background-color: rgb(211, 211, 211);
}
.taskbar {
  position: fixed;
  height: 36px;
  background-color: #BFBFBF;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: flex;
}

.taskbar-start {
  position: relative;
  height: 100%;
  width: 120px;
  background-color: #BFBFBF;
  color: black;
  border-bottom: 2px solid #7B7B7B;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7B7B7B;
  margin-right: 3px;
}
.taskbar-start:hover {
  border-top: 1.5px solid #808080;
  border-left: 1.5px solid #808080;
  border-right: 1.5px solid #FAFAFA;
  border-bottom: 1.5px solid #FAFAFA;
}
.start-option {
  position: absolute;
  bottom: 38px;
  width: 120px;
  height: 105px;
  background: #BFBFBF;
  display: none;
}

.start-option-detail {
  border-bottom: 2px solid #7B7B7B;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7B7B7B;
  padding: 10px 0;
  text-align: center;
  font-size: 1.3rem;
}
.start-option-detail:hover {
  border-top: 1.5px solid #808080;
  border-left: 1.5px solid #808080;
  border-right: 1.5px solid #FAFAFA;
  border-bottom: 1.5px solid #FAFAFA;
}
.level {
  height: 100%;
  width: 100px;
  background-color: #BFBFBF;
  border-bottom: 2px solid #7B7B7B;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7B7B7B;
  /* margin-right: 1px; */
}
.level:hover{
  border-top: 1.5px solid #808080;
  border-left: 1.5px solid #808080;
  border-right: 1.5px solid #FAFAFA;
  border-bottom: 1.5px solid #FAFAFA;
}
.level-easy {
  color:rgb(0, 0, 250);
}
.level-midium {
  color: rgb(75, 128, 45);
}
.level-hard {
  color: red;
}
